@model Course
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewData["Title"] = "New";

    SelectList depItems = new SelectList(ViewBag.DList, "Id", "Name");
}

<h2 class="text-primary text-uppercase mb-3 d-flex justify-content-center" style="letter-spacing: 5px;"><i class="fas fa-university"></i>New Course</h2>

<form method="post" asp-action="Add" asp-controller="Course" >
    @* asp-action="New" asp-controller="Employee" asp-route-id="@Model.Id">*@
    <div asp-validation-summary="All"></div>
    <div class ="control-group">
        <label asp-for="Name">  </label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div  class ="control-group">
    <div  class ="control-group">
        <label asp-for="degree"></label>
        <input class="form-control" asp-for="degree" />
            <span asp-validation-for="degree" class="text-danger"></span>
    </div>
     <div  class ="control-group">
        <label asp-for="minDegree"></label>
        <input class="form-control" asp-for="minDegree" />
           <span asp-validation-for="minDegree" class="text-danger"></span>
    </div>
    <div  class ="control-group">
        <label asp-for="departmentId"></label>
        @* <input class="form-control" asp-for="DeptID" />*@
        <select class="form-control" asp-for="departmentId" asp-items="depItems">
            <option value="0">--Select Department--</option>
        </select>
           <span asp-validation-for="departmentId" class="text-danger"></span>
    </div>
   
    <div class="control-group d-flex justify-content-center pt-4">
    <input type="submit" value="Create" class="btn btn-primary"  />
    </div>
</form>
<br /><br />
<a asp-action="Index" class="d-flex justify-content-center">Back To List</a>
<!-------------Js VAlidation Client side Library--------------->
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
