@model RCourse_Trainee
@{
    ViewData["Title"] = "ShowResult";
}


    <div class="card" style="width: 18rem;">
        <div class="card-body" style="color:@Model.color">
        <h5 class="card-title">@Model.TName </h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">@Model.CName</h6>
        <p class="card-text">@Model.degree</p>
        </div>
    </div>



